<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Icons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-icon name="add-circle-outline"size="large"></ion-icon>
  <ion-icon name="add-circle-outline"size="large"></ion-icon>
  <ion-icon name="logo-ionic" color="primary"size="large"></ion-icon>
  <ion-icon name="logo-android" size="large"></ion-icon>
</ion-content>